<%= render @user %>
<div class="bio-cont">
<h2>Bio</h2>
<p class="bio"><%=@user.bio%></p>
</div>
<%= render @user.posts%>
 <button class="button"><%=link_to 'see all posts' ,user_posts_path(@user)%></button>
 <button class="button"><%=link_to 'Add new post' ,new_post_path %></button>
