<h2><%= @user.name%></h2>
<p><%= @user.bio %></p>
<div>
<%@user.posts.each do |post|%>
    <%=post.title %>
    <%=post.text%>
   <%=link_to 'see full' ,user_post_path(@user,post)%>
<% end %>
 <%=link_to 'see all posts' ,user_posts_path(@user)%>
</div>
