<div class="full-post-cont">
  <div class='full-post-cont-head'>
   <div><%= @post.title%> by <%= @post.user.name%></div>
   <div class='comment-likes'> comments: <%=@post.comments_counter %> likes: <%=@post.likes_counter%></div>
  </div>
  <p><%= @post.text%></p>
  <div class="likes">
          <%= render partial: 'likes/form', locals: { post_id: @post.id } %>
        </div>
</div>
<div class="comments">
  <%@post.comments.includes(:user).each do |comment|%>
   <div>
   <%=comment.user.name%>: <%=comment.text%>
   <%=button_to "del",comment_path(comment), method: :delete  %>
   </div> 
    <%end%>
     <div>
    <%= render partial: 'comments/form', locals: { post: @post }  %>
  </div>
  <ul>
  <li><%= link_to "Edit Post", edit_post_path(@post) %></li>
  <li><%= button_to "del", post_path(@post), method: :delete  %></li>
</ul>
 </div>


