<div class="full-post-cont">
  <div class='full-post-cont-head'>
   <div><%= @post.title%> by <%= @post.user.name%></div>
   <div class='comment-likes'> comments: <%=@post.comments.size %> likes: <%=@post.likes_counter%></div>
  </div>
  <p><%= @post.text%></p>
</div>

<div class="comments">
  <%@post.comments.each do |comment|%>
   <div>
   <%=comment.user.name%>: <%=comment.text%>
   </div> 
    <%end%>
 </div>


